@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: aliceblue;
  overflow: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.folder-section {
  background-color: aliceblue;
}
.side-navbar,
.storage-section {
  display: block;
}

.mobile-logo,
.mobile-footer {
  display: none;
}
.folder-grid {
  height: 15rem;
}

@media only screen and (max-width: 1042px) {
  .app {
    padding-bottom: 4rem;
    min-height: 100vh;
  }
  .side-navbar,
  .storage-section {
    display: none;
  }
  .mobile-logo,
  .mobile-footer {
    display: block;
  }
  .mobile-logo {
    display: flex;
  }
  .folder-grid {
    height: auto;
  }
}
